body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#dropZone {
    border: 2px dashed #0078d4;
    padding: 20px;
    text-align: center;
    color: #666;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

#dropZone.dragover {
    border-color: #005bb5;
    background-color: #f0f8ff;
}

#fileInput {
    display: none;
}

.tool-container {
    display: flex; /* Arrange children (buttons) in a row */
    gap: 10px; /* Add space between the buttons */
    margin-bottom: 20px; /* Add margin below the buttons */
}

#brandSelection {
    margin-bottom: px;
    margin-top: px;
}

#brand {
    padding: 9px;
    font-size: 16px;
    margin-right: 10px;
}

#processButton {
    padding: 10px;
    font-size: 16px;
    background: #0078d4;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-container {
    display: flex; /* Arrange children (buttons) in a row */
    gap: 100px; /* Add space between the buttons */
    margin-bottom: 20px; /* Add margin below the buttons */
}

#ocrButton, #extractTextButton {
    flex: 1; /* Make buttons take equal width */
    padding: 10px;
    background: #0078d4;
    color: #fff;
    border: none;
    cursor: pointer;
}

#ocrButton:hover, #extractTextButton:hover, #processButton:hover {
    background: #005bb5; /* Hover effect */
}

#output {
    margin-top: 20px;
}

#outputText {
    white-space: pre-wrap;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
}


